:root{
  --side-margin: 100px;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  font-size: 20px;
  text-align: center;
}
#captains{
  display: grid;
  grid-template-columns:  repeat(3,1fr);
  grid-gap: 30px;
  background-color: white;
  margin-left: var(--side-margin,20px);
  margin-right: var(--side-margin,20px);
  align-items: start;
}
.members{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.members > div{
  width: 30vw;
  margin: 1vw;
}
/*.members{
  display: grid;
  grid-template-rows: fit-content(90%);
  grid-auto-columns: 30vw;
  grid-gap: 30px;
  background-color: white;
  margin-left: var(--side-margin,20px);
  margin-right: var(--side-margin,20px);
  align-items: start;
  justify-content: center;
  grid-auto-flow: column;
}*/
.member{
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-gap: 0px 0px;
  /*        row  col */
  margin-bottom: 20px;
  background-color: light-gray;
  align-items: start;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 4px;
}
.member h2 {
  border-bottom: 1px solid gray;
}
.badges{
  align-self: start;
  padding-top: 5px;
  background-color: gray;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: gray;
  border-radius: 4px;
}
.badges h3{
  writing-mode: tb-rl;
}

.content{
  padding-top: 20px;
}
.photo{
  max-width:90%;
  height: auto;
  border-radius: 3px;
  display: block;
  margin: auto;
}
@media (max-width: 800px){
  #captains{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .members{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .member{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 0px!important;
    margin-left: 0px!important;
    width: 100%!important;
  }
}
