<div id  = "footer">
  <div id = "media">
    <a href= "https://twitter.com/viridianrobotic" target = "_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
    <a href = "mailto:viridianrobotics@gmail.com" target = "_blank"><i class="fas fa-envelope-square fa-2x"></i></a>
  </div>
  <p style = "font-size:30px;"><strong>VIRIDIAN ROBOTICS</strong></p>
</div>
<style>
#footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  border-top: 1px solid gray;
}
#media{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#media a{
  padding:2px;
  color:black;
}
</style>
