<head>
<meta charset = "UTF-8">
<meta name = "description" content = "Daniel Lawson's portfolio">
<meta name = "author" content = "Daniel Lawson">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
<!-- shared stylesheets -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<link rel="stylesheet" href="{{ "/shared/style.css" | absolute_url }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<!-- a billion favicons -->
<link rel="shortcut icon" href="/images/favicons/favicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="/images/favicons/favicon.ico">
<link rel="icon" type="image/png" sizes="196x196" href="{{ "/images/favicons/favicon-192.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="160x160" href="{{ "/images/favicons/favicon-160.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ "/images/favicons/favicon-96.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="64x64" href="{{ "/images/favicons/favicon-64.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/images/favicons/favicon-32.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/images/favicons/favicon-16.png" | absolute_url }}">
<link rel="apple-touch-icon" href="{{ "/images/favicons/favicon-57.png" | absolute_url }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ "/images/favicons/favicon-114.png" | absolute_url }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ "/images/favicons/favicon-72.png" | absolute_url }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ "/images/favicons/favicon-144.png" | absolute_url }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ "/images/favicons/favicon-60.png" | absolute_url }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ "/images/favicons/favicon-120.png" | absolute_url }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ "/images/favicons/favicon-76.png" | absolute_url }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ "/images/favicons/favicon-152.png" | absolute_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/images/favicons/favicon-180.png" | absolute_url }}">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="{{ "/images/favicons/favicon-144.png" | absolute_url }}">
<meta name="msapplication-config" content="{{ "/images/favicons/browserconfig.xml" | absolute_url }}">
<!-- individual page sheets -->
{% for sheet in page.stylesheets %}
<link href = "{{ sheet }}" rel = "stylesheet" type = "text/css">
{% endfor %}
<!-- javascript -->
{% for script in page.javascript %}
<script src = "{{ script }}"></script>
{% endfor %}
</head>
