{% assign titles = "Home Team Resources" | split: ' ' %}
{% assign shortTitle = page.title | remove: " - Viridian Robotics" %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" style = "background-color:white!important;border-bottom: 1px solid gray;">
  <a class="navbar-brand" href="#" style = "margin-left:20px;margin-right:15px;"><img src = "{{ "/images/smallviridianlogo.png" | absolute_url }}" alt = "viridian logo" style = "width:200px;height:auto"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% for title in titles %}
        {% if title == shortTitle %}
          <a class="nav-item nav-link active" href="{{ title | absolute_url}}">{{ title }}</a>
        {% else %}
          <a class="nav-item nav-link" href="{{title | absolute_url}}">{{ title }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</nav>
