main{
  width: 80%;
  margin: auto;
}
h1{
  text-align: center;
}
h3{
  font-size: 20px;
}
p{
  font-size: 2vw;
}
main div{
  margin-bottom: 80px;
  margin-top: 80px;
}
li{
  font-size: 20px;
}
@media (max-width: 700px){
  p{
    font-size: 14px;
  }
}
